openapi: 3.2.0
info:
  title: Adobe Creative Suite Adobe PDF Services Combine PDF API
  description: The Adobe PDF Services API provides cloud-based tools for creating, converting, combining, compressing, and extracting content from PDF documents. Part of the Adobe Acrobat Services platform, it supports operations such as Office-to-PDF, HTML-to-PDF, PDF-to-Word, PDF-to-Excel, OCR, accessibility auto-tagging, document generation from templates, and PDF linearization. The API follows an asynchronous job model where operations are submitted and polled for completion.
  version: 1.0.0
  termsOfService: https://www.adobe.com/legal/terms.html
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/support/
  license:
    name: Adobe Developer Terms
    url: https://www.adobe.com/legal/developer-terms.html
servers:
- url: https://pdf-services.adobe.io
  description: Adobe PDF Services API production server
security:
- bearerAuth: []
tags:
- name: Combine PDF
  description: Combine multiple PDFs into one
paths:
  /operation/combinepdf:
    post:
      operationId: combinePDFs
      summary: Adobe Creative Suite Combine PDFs
      description: Combines two or more PDF documents into a single output PDF. The source PDFs are specified in order and merged sequentially. Page ranges from each source can optionally be specified to include only specific pages.
      tags:
      - Combine PDF
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CombinePDFRequest'
      responses:
        '201':
          description: Combine PDF operation accepted
          headers:
            Location:
              description: URL to poll for operation status
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSubmitted'
        '400':
          description: Bad request - invalid asset references or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CombinePDFRequest:
      type: object
      description: Request body for combining multiple PDFs
      required:
      - assets
      properties:
        assets:
          type: array
          description: Ordered list of PDF assets to combine
          minItems: 2
          items:
            type: object
            required:
            - assetID
            properties:
              assetID:
                type: string
                description: Asset ID of the PDF to include
              pageRanges:
                type: array
                description: Optional page ranges to extract from this PDF
                items:
                  $ref: '#/components/schemas/PageRange'
    PageRange:
      type: object
      description: Specifies a range of pages from a PDF document
      properties:
        start:
          type: integer
          description: Starting page number (1-indexed)
          example: 1
        end:
          type: integer
          description: Ending page number (1-indexed, inclusive)
          example: 5
    OperationSubmitted:
      type: object
      description: Response returned when an operation has been accepted
      properties:
        jobID:
          type: string
          description: Unique identifier for the submitted operation job
          example: urn:aaid:AS:UE1:operation:abc123
    ErrorResponse:
      type: object
      description: Standard error response
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: example_value
        message:
          type: string
          description: Human-readable error message
          example: example_value
        requestId:
          type: string
          description: Unique identifier for the failed request
          example: asset_abc123
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token from Adobe IMS
