openapi: 3.2.0
info:
  title: Adobe Creative Suite Adobe Photoshop Artboard API
  description: The Adobe Photoshop API provides programmatic access to Photoshop image manipulation capabilities including automated editing, masking, compositing, layer management, and document operations. It enables developers to integrate Photoshop processing into workflows and applications without requiring a desktop installation. Operations are performed asynchronously and return a job ID for status polling.
  version: 1.0.0
  termsOfService: https://www.adobe.com/legal/terms.html
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/support/
  license:
    name: Adobe Developer Terms
    url: https://www.adobe.com/legal/developer-terms.html
servers:
- url: https://image.adobe.io
  description: Adobe Photoshop API production server
security:
- bearerAuth: []
tags:
- name: Artboard
  description: Artboard creation and management
paths:
  /pie/psdService/artboard:
    post:
      operationId: createArtboard
      summary: Adobe Creative Suite Create Artboards
      description: Creates one or more artboards within a PSD document at specified sizes and positions. Artboards allow multiple design variations or screen sizes to be organized within a single PSD file.
      tags:
      - Artboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtboardRequest'
      responses:
        '202':
          description: Job accepted and queued for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSubmitted'
        '400':
          description: Bad request - invalid input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      description: Standard error response
      properties:
        code:
          type: string
          description: Error code
          example: example_value
        message:
          type: string
          description: Human-readable error message
          example: example_value
    JobOutput:
      type: object
      description: Reference to an output file location in cloud storage
      required:
      - href
      - storage
      - type
      properties:
        href:
          type: string
          description: URL or path where the output file will be stored
          example: https://my-storage.blob.core.windows.net/images/output.png
        storage:
          type: string
          description: Cloud storage provider type
          enum:
          - adobe
          - external
          - azure
          - dropbox
          example: external
        type:
          type: string
          description: MIME type of the output file
          example: image/png
        width:
          type: integer
          description: Output width in pixels
          example: 1920
        height:
          type: integer
          description: Output height in pixels
          example: 1080
        overwrite:
          type: boolean
          description: Whether to overwrite the output file if it already exists
          default: true
          example: true
    JobSubmitted:
      type: object
      description: Response returned immediately after a job is submitted
      properties:
        jobId:
          type: string
          description: Unique identifier for the submitted job
          example: f54e0fcb-260b-47c3-b520-de0d17dc2b67
        statusUrl:
          type: string
          description: URL to poll for job status
          example: https://image.adobe.io/pie/psdService/status/f54e0fcb-260b-47c3-b520-de0d17dc2b67
        _links:
          type: object
          properties:
            self:
              type: object
              properties:
                href:
                  type: string
                  example: https://image.adobe.io/pie/psdService/status/f54e0fcb-260b-47c3-b520-de0d17dc2b67
    JobInput:
      type: object
      description: Reference to an input file stored in cloud storage
      required:
      - href
      - storage
      properties:
        href:
          type: string
          description: URL or path to the input file in cloud storage
          example: https://my-storage.blob.core.windows.net/images/input.psd
        storage:
          type: string
          description: Cloud storage provider type
          enum:
          - adobe
          - external
          - azure
          - dropbox
          example: external
        type:
          type: string
          description: MIME type of the input file
          example: image/vnd.adobe.photoshop
    ArtboardRequest:
      type: object
      description: Request to create artboards within a PSD document
      required:
      - inputs
      - outputs
      - options
      properties:
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/JobInput'
        outputs:
          type: array
          items:
            $ref: '#/components/schemas/JobOutput'
        options:
          type: object
          properties:
            artboards:
              type: array
              description: List of artboards to create
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Artboard name
                  width:
                    type: integer
                    description: Artboard width in pixels
                  height:
                    type: integer
                    description: Artboard height in pixels
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Server-to-Server (S2S) access token from Adobe IMS
