openapi: 3.1.0
info:
  title: Adobe Creative Suite Adobe Firefly Accessibility License API
  description: The Adobe Firefly API provides access to Adobe's generative AI capabilities for creating and editing images, vectors, and video from natural language prompts. Built on Adobe's Firefly family of creative generative models, which are trained on licensed and public domain content. Supports text-to-image generation, generative fill, generative expand, generating similar images, object compositing, and video generation. All generation operations are asynchronous.
  version: 3.0.0
  termsOfService: https://www.adobe.com/legal/terms.html
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/support/
  license:
    name: Adobe Developer Terms
    url: https://www.adobe.com/legal/developer-terms.html
servers:
- url: https://firefly-api.adobe.io/v3
  description: Adobe Firefly API v3 production server
security:
- bearerAuth: []
tags:
- name: License
  description: License stock assets for use in projects
paths:
  /Member/1/License:
    get:
      operationId: getLicenseHistory
      summary: Adobe Creative Suite Get License History
      description: Retrieves the license history for the authenticated member, showing previously licensed stock assets. Results can be filtered by date range or asset type and are returned in reverse chronological order.
      tags:
      - License
      parameters:
      - name: locale
        in: query
        description: BCP 47 locale for localized response data
        schema:
          type: string
          example: en_US
        example: en_US
      - name: search_parameters[limit]
        in: query
        description: Maximum number of results to return
        schema:
          type: integer
          default: 32
          maximum: 100
        example: 1920
      - name: search_parameters[offset]
        in: query
        description: Number of results to skip for pagination
        schema:
          type: integer
          default: 0
        example: 1920
      - name: result_columns[]
        in: query
        description: Fields to include in the license history response
        schema:
          type: array
          items:
            type: string
      - name: x-api-key
        in: header
        required: true
        description: Adobe Stock API key (client ID)
        schema:
          type: string
        example: example_value
      responses:
        '200':
          description: License history returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseHistoryResult'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /Member/1/LicenseImage:
    post:
      operationId: licenseImage
      summary: Adobe Creative Suite License a Stock Image
      description: Licenses a stock photo for use in a project. The request specifies the content ID, license type, and optional purchase reference information. On success, returns a download URL for the licensed full-resolution image.
      tags:
      - License
      parameters:
      - name: x-api-key
        in: header
        required: true
        description: Adobe Stock API key (client ID)
        schema:
          type: string
        example: example_value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseRequest'
      responses:
        '200':
          description: Image licensed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseResponse'
        '400':
          description: Bad request - invalid content ID or license type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient quota or license credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /Member/1/LicenseVectorOrIllustration:
    post:
      operationId: licenseVector
      summary: Adobe Creative Suite License a Vector or Illustration
      description: Licenses a vector or illustration stock file for use in a project. Returns a download URL for the licensed file in the original vector format (AI, EPS, or SVG) where available.
      tags:
      - License
      parameters:
      - name: x-api-key
        in: header
        required: true
        description: Adobe Stock API key (client ID)
        schema:
          type: string
        example: example_value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseRequest'
      responses:
        '200':
          description: Vector or illustration licensed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseResponse'
        '400':
          description: Bad request - invalid content ID or license type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /Member/1/LicenseVideo:
    post:
      operationId: licenseVideo
      summary: Adobe Creative Suite License a Stock Video
      description: Licenses a stock video clip for use in a project. Returns a download URL for the licensed video at the requested resolution. Video licenses consume credits from the member's stock subscription or account balance.
      tags:
      - License
      parameters:
      - name: x-api-key
        in: header
        required: true
        description: Adobe Stock API key (client ID)
        schema:
          type: string
        example: example_value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseRequest'
      responses:
        '200':
          description: Video licensed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseResponse'
        '400':
          description: Bad request - invalid content ID or license type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /Member/1/LicenseStats:
    post:
      operationId: getLicenseStats
      summary: Adobe Creative Suite Get Licensing Stats
      description: Retrieves licensing statistics for the authenticated member including the number of assets licensed within a specified time period and a breakdown by content type.
      tags:
      - License
      parameters:
      - name: x-api-key
        in: header
        required: true
        description: Adobe Stock API key (client ID)
        schema:
          type: string
        example: example_value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                locale:
                  type: string
                  description: BCP 47 locale for localized response data
                result_columns:
                  type: array
                  description: Fields to include in the stats response
                  items:
                    type: string
      responses:
        '200':
          description: Licensing stats returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseStatsResponse'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    LicenseHistoryResult:
      type: object
      description: Paginated license history for the authenticated member
      properties:
        nb_results:
          type: integer
          description: Total number of licensing events in the history
          example: 87
        files:
          type: array
          description: List of previously licensed stock files
          items:
            $ref: '#/components/schemas/StockFile'
    LicenseRequest:
      type: object
      description: Request body for licensing a stock asset
      required:
      - content_id
      - license
      properties:
        content_id:
          type: integer
          description: Adobe Stock content ID of the asset to license
          example: 123456789
        license:
          type: string
          description: License type to apply
          enum:
          - Standard
          - Extended
          - Video_HD
          - Video_4K
          example: Standard
        locale:
          type: string
          description: BCP 47 locale for localized response data
          example: en_US
        purchase_params:
          type: object
          description: Optional purchase parameters and reference metadata
          properties:
            references:
              type: array
              description: List of reference key-value pairs for tracking the license
              items:
                $ref: '#/components/schemas/LicenseReference'
    StockFile:
      type: object
      description: Metadata for an Adobe Stock file
      properties:
        id:
          type: integer
          description: Unique Adobe Stock content identifier
          example: 123456789
        title:
          type: string
          description: Title of the stock file as provided by the contributor
          example: Beautiful mountain landscape at sunrise
        creator_name:
          type: string
          description: Display name of the file's creator/contributor
          example: PhotoContributor123
        creator_id:
          type: integer
          description: Unique identifier of the creator on Adobe Stock
          example: 987654
        country_name:
          type: string
          description: Country of origin of the creator
          example: United States
        width:
          type: integer
          description: Original width of the file in pixels
          example: 6000
        height:
          type: integer
          description: Original height of the file in pixels
          example: 4000
        media_type_id:
          type: integer
          description: Numeric identifier for the media type (1=photo, 2=illustration, 3=vector, 4=video, 6=3D, 7=template)
          example: 1
        content_type:
          type: string
          description: MIME type of the stock file
          example: image/jpeg
        keywords:
          type: array
          description: List of keywords describing the file content
          items:
            type: object
            properties:
              name:
                type: string
                description: Keyword text
          example:
          - name: mountain
          - name: landscape
          - name: sunrise
        comp_url:
          type: string
          description: URL of the watermarked comp image for preview purposes
          example: https://t3.ftcdn.net/jpg/01/23/45/67/240_F_123456789_abc.jpg
        thumbnail_url:
          type: string
          description: URL of the thumbnail image
          example: https://t3.ftcdn.net/jpg/01/23/45/67/160_F_123456789_abc.jpg
        thumbnail_width:
          type: integer
          description: Width of the thumbnail image in pixels
          example: 160
        thumbnail_height:
          type: integer
          description: Height of the thumbnail image in pixels
          example: 107
        is_licensed:
          type: string
          description: Licensing status of the file for the authenticated user
          enum:
          - Standard
          - Extended
          - Video_HD
          - Video_4K
          - ''
          example: ''
        vector_type:
          type: string
          description: Vector file subtype (svg or zip) if applicable
          enum:
          - svg
          - zip
          - ''
          example: svg
        category:
          $ref: '#/components/schemas/Category'
        nb_results:
          type: integer
          description: Total number of results matching the search query (on first item only)
          example: 4521
    LicenseStatsResponse:
      type: object
      description: Licensing statistics summary for the authenticated member
      properties:
        nb_results:
          type: integer
          description: Total number of licensing events in the requested period
          example: 1920
        stock_user:
          type: object
          description: Aggregated licensing statistics by content type
    Category:
      type: object
      description: A stock content category
      properties:
        id:
          type: integer
          description: Unique category identifier
          example: 1043
        name:
          type: string
          description: Localized category name
          example: Nature
        link:
          type: string
          description: URL to browse this category on the Adobe Stock website
          example: example_value
        children:
          type: array
          description: Child subcategories (present in category tree responses)
          items:
            $ref: '#/components/schemas/Category'
    LicenseReference:
      type: object
      description: Optional purchase reference metadata for a license transaction
      properties:
        id:
          type: integer
          description: Reference ID provided by the API caller for tracking
          example: 1001
        value:
          type: string
          description: Reference value such as a project name or purchase order number
          example: Project Alpha
    ErrorResponse:
      type: object
      description: Standard error response
      properties:
        code:
          type: integer
          description: Numeric error code
          example: 1920
        message:
          type: string
          description: Human-readable error description
          example: example_value
    LicenseResponse:
      type: object
      description: Response returned after successfully licensing a stock asset
      properties:
        content_id:
          type: integer
          description: Content ID of the licensed asset
          example: 123456789
        purchase_details:
          type: object
          description: Details of the license purchase transaction
          properties:
            state:
              type: string
              description: State of the license purchase
              enum:
              - just_purchased
              - already_purchased
              - overage
            license:
              type: string
              description: License type applied
            nb_downloads:
              type: integer
              description: Number of times this asset has been downloaded by the member
        download_url:
          type: string
          description: URL to download the licensed full-resolution file
          example: https://stock.adobe.com/Rest/Libraries/Download/123456789/1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained from Adobe IMS
