openapi: 3.1.0
info:
  title: Adobe Creative Suite Adobe Firefly Accessibility Generative Expand API
  description: The Adobe Firefly API provides access to Adobe's generative AI capabilities for creating and editing images, vectors, and video from natural language prompts. Built on Adobe's Firefly family of creative generative models, which are trained on licensed and public domain content. Supports text-to-image generation, generative fill, generative expand, generating similar images, object compositing, and video generation. All generation operations are asynchronous.
  version: 3.0.0
  termsOfService: https://www.adobe.com/legal/terms.html
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/support/
  license:
    name: Adobe Developer Terms
    url: https://www.adobe.com/legal/developer-terms.html
servers:
- url: https://firefly-api.adobe.io/v3
  description: Adobe Firefly API v3 production server
security:
- bearerAuth: []
tags:
- name: Generative Expand
  description: Expand images beyond their original boundaries
paths:
  /images/expand-async:
    post:
      operationId: expandImageAsync
      summary: Adobe Creative Suite Generative Expand Image
      description: Expands an existing image beyond its original boundaries using generative AI to fill in the new regions. The expansion can be directional and supports specifying a prompt to guide the content generated in the expanded areas.
      tags:
      - Generative Expand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageExpandRequest'
      responses:
        '202':
          description: Expand job accepted and queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobSubmitted'
        '400':
          description: Bad request - invalid input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AsyncJobSubmitted:
      type: object
      description: Response returned immediately after an async generation job is submitted
      properties:
        jobId:
          type: string
          description: Unique identifier for the generation job
          example: urn:firefly:jobs:abc123def456
        statusUrl:
          type: string
          description: URL to poll for job status updates
          example: https://firefly-api.adobe.io/v3/status/urn:firefly:jobs:abc123def456
    ImageExpandRequest:
      type: object
      description: Request body for generative image expansion
      required:
      - image
      properties:
        prompt:
          type: string
          description: Text prompt to guide what content fills the expanded areas
          maxLength: 1024
          example: example_value
        negativePrompt:
          type: string
          description: Text describing what to avoid in the expanded areas
          maxLength: 1024
          example: example_value
        image:
          $ref: '#/components/schemas/InputImageReference'
        size:
          $ref: '#/components/schemas/ImageSize'
        placement:
          type: object
          description: Placement and inset parameters for the source image within the expanded canvas
          properties:
            inset:
              type: object
              properties:
                left:
                  type: integer
                top:
                  type: integer
                right:
                  type: integer
                bottom:
                  type: integer
        numVariations:
          type: integer
          minimum: 1
          maximum: 4
          default: 1
          example: 1920
        seeds:
          type: array
          items:
            type: integer
    InputImageReference:
      type: object
      description: Reference to an input image for generative operations
      required:
      - source
      properties:
        source:
          type: object
          description: Source of the input image
          properties:
            url:
              type: string
              description: Publicly accessible URL of the input image
              example: https://my-bucket.s3.amazonaws.com/source-image.jpg
            uploadId:
              type: string
              description: Upload ID for a previously uploaded image via the Firefly upload API
    ErrorResponse:
      type: object
      description: Standard error response body
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: example_value
        message:
          type: string
          description: Human-readable description of the error
          example: example_value
        requestId:
          type: string
          description: Unique identifier for the failed request, for support purposes
          example: asset_abc123
    ImageSize:
      type: object
      description: Dimensions for the output image
      properties:
        width:
          type: integer
          description: Output image width in pixels
          example: 1024
        height:
          type: integer
          description: Output image height in pixels
          example: 1024
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained from Adobe IMS
