openapi: 3.2.0
info:
  title: Adobe Creative Suite Adobe Photoshop Cutout API
  description: The Adobe Photoshop API provides programmatic access to Photoshop image manipulation capabilities including automated editing, masking, compositing, layer management, and document operations. It enables developers to integrate Photoshop processing into workflows and applications without requiring a desktop installation. Operations are performed asynchronously and return a job ID for status polling.
  version: 1.0.0
  termsOfService: https://www.adobe.com/legal/terms.html
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/support/
  license:
    name: Adobe Developer Terms
    url: https://www.adobe.com/legal/developer-terms.html
servers:
- url: https://image.adobe.io
  description: Adobe Photoshop API production server
security:
- bearerAuth: []
tags:
- name: Cutout
  description: Background removal and masking operations
paths:
  /sensei/cutout:
    post:
      operationId: removeBackground
      summary: Adobe Creative Suite Remove Background
      description: Removes the background from an image using Adobe Sensei AI. Accepts an input image stored in cloud storage and produces a cutout image with the background removed. The operation is asynchronous; poll the returned job URL for completion.
      tags:
      - Cutout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CutoutRequest'
      responses:
        '202':
          description: Job accepted and queued for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSubmitted'
        '400':
          description: Bad request - invalid input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /sensei/product_crop:
    post:
      operationId: productCrop
      summary: Adobe Creative Suite Product Crop
      description: Automatically crops an image to focus on the primary product subject using Adobe Sensei AI. Useful for e-commerce workflows where product images need to be consistently cropped and centered.
      tags:
      - Cutout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCropRequest'
      responses:
        '202':
          description: Job accepted and queued for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSubmitted'
        '400':
          description: Bad request - invalid input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /sensei/straighten:
    post:
      operationId: straightenImage
      summary: Adobe Creative Suite Straighten Image
      description: Automatically detects and corrects the rotation of an image so that horizontal and vertical lines are properly aligned. Uses Adobe Sensei AI to analyze the image content and apply the appropriate rotation correction.
      tags:
      - Cutout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StraightenRequest'
      responses:
        '202':
          description: Job accepted and queued for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSubmitted'
        '400':
          description: Bad request - invalid input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ProductCropRequest:
      type: object
      description: Request to automatically crop an image to the primary product
      required:
      - input
      - output
      properties:
        input:
          $ref: '#/components/schemas/JobInput'
        output:
          $ref: '#/components/schemas/JobOutput'
        options:
          type: object
          properties:
            unit:
              type: string
              enum:
              - pixel
              - percent
            padding:
              type: number
              description: Padding to add around the product crop
    ErrorResponse:
      type: object
      description: Standard error response
      properties:
        code:
          type: string
          description: Error code
          example: example_value
        message:
          type: string
          description: Human-readable error message
          example: example_value
    JobOutput:
      type: object
      description: Reference to an output file location in cloud storage
      required:
      - href
      - storage
      - type
      properties:
        href:
          type: string
          description: URL or path where the output file will be stored
          example: https://my-storage.blob.core.windows.net/images/output.png
        storage:
          type: string
          description: Cloud storage provider type
          enum:
          - adobe
          - external
          - azure
          - dropbox
          example: external
        type:
          type: string
          description: MIME type of the output file
          example: image/png
        width:
          type: integer
          description: Output width in pixels
          example: 1920
        height:
          type: integer
          description: Output height in pixels
          example: 1080
        overwrite:
          type: boolean
          description: Whether to overwrite the output file if it already exists
          default: true
          example: true
    CutoutRequest:
      type: object
      description: Request to remove the background from an image
      required:
      - input
      - output
      properties:
        input:
          $ref: '#/components/schemas/JobInput'
        output:
          $ref: '#/components/schemas/JobOutput'
    JobSubmitted:
      type: object
      description: Response returned immediately after a job is submitted
      properties:
        jobId:
          type: string
          description: Unique identifier for the submitted job
          example: f54e0fcb-260b-47c3-b520-de0d17dc2b67
        statusUrl:
          type: string
          description: URL to poll for job status
          example: https://image.adobe.io/pie/psdService/status/f54e0fcb-260b-47c3-b520-de0d17dc2b67
        _links:
          type: object
          properties:
            self:
              type: object
              properties:
                href:
                  type: string
                  example: https://image.adobe.io/pie/psdService/status/f54e0fcb-260b-47c3-b520-de0d17dc2b67
    JobInput:
      type: object
      description: Reference to an input file stored in cloud storage
      required:
      - href
      - storage
      properties:
        href:
          type: string
          description: URL or path to the input file in cloud storage
          example: https://my-storage.blob.core.windows.net/images/input.psd
        storage:
          type: string
          description: Cloud storage provider type
          enum:
          - adobe
          - external
          - azure
          - dropbox
          example: external
        type:
          type: string
          description: MIME type of the input file
          example: image/vnd.adobe.photoshop
    StraightenRequest:
      type: object
      description: Request to automatically straighten an image
      required:
      - input
      - output
      properties:
        input:
          $ref: '#/components/schemas/JobInput'
        output:
          $ref: '#/components/schemas/JobOutput'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Server-to-Server (S2S) access token from Adobe IMS
