openapi: 3.1.0
info:
  title: Adobe Creative Suite Adobe Stock API
  description: >-
    The Adobe Stock API enables search, licensing, and retrieval of stock photos,
    illustrations, vectors, videos, and templates from the Adobe Stock marketplace.
    It supports both editorial and commercial licensing workflows and can be integrated
    into creative applications and digital asset management systems. The API uses a
    combination of OAuth 2.0 bearer tokens and API key authentication depending on
    the operation being performed.
  version: 1.0.0
  termsOfService: https://www.adobe.com/legal/terms.html
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/support/
  license:
    name: Adobe Developer Terms
    url: https://www.adobe.com/legal/developer-terms.html
servers:
  - url: https://stock.adobe.io/Rest
    description: Adobe Stock API production server
security:
  - bearerAuth: []
  - apiKeyAuth: []
tags:
  - name: License
    description: License stock assets for use in projects
  - name: Member
    description: Member profile and licensing operations
  - name: Search
    description: Search and discover stock content
paths:
  /Media/1/Search/Files:
    get:
      operationId: searchStockFiles
      summary: Adobe Creative Suite Search stock files
      description: >-
        Searches the Adobe Stock library for files matching specified criteria such
        as keywords, content type, orientation, and color. Returns a paginated list
        of matching stock files with metadata including thumbnails, dimensions, and
        licensing status. Requires an API key header in addition to authentication.
      tags:
        - Search
      parameters:
        - name: locale
          in: query
          description: BCP 47 locale code for localized search results
          schema:
            type: string
            example: en_US
        - name: search_parameters[words]
          in: query
          description: Keywords to search for in the stock library
          schema:
            type: string
            example: mountain landscape
        - name: search_parameters[limit]
          in: query
          description: Maximum number of results to return per page (1-64)
          schema:
            type: integer
            minimum: 1
            maximum: 64
            default: 32
            example: 20
        - name: search_parameters[offset]
          in: query
          description: Number of results to skip for pagination
          schema:
            type: integer
            default: 0
            example: 0
        - name: search_parameters[filters][content_type:photo]
          in: query
          description: Include photos in results (1 = include, 0 = exclude)
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: search_parameters[filters][content_type:illustration]
          in: query
          description: Include illustrations in results (1 = include, 0 = exclude)
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: search_parameters[filters][content_type:vector]
          in: query
          description: Include vector files in results (1 = include, 0 = exclude)
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: search_parameters[filters][content_type:video]
          in: query
          description: Include video files in results (1 = include, 0 = exclude)
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: search_parameters[filters][orientation]
          in: query
          description: Filter by image orientation
          schema:
            type: string
            enum:
              - horizontal
              - vertical
              - square
              - all
        - name: search_parameters[filters][premium]
          in: query
          description: Filter by premium status
          schema:
            type: string
            enum:
              - 'false'
              - 'true'
              - all
        - name: result_columns[]
          in: query
          description: Fields to include in the response for each result
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - title
                - creator_name
                - creator_id
                - country_name
                - width
                - height
                - thumbnail_url
                - thumbnail_width
                - thumbnail_height
                - media_type_id
                - category
                - keywords
                - comp_url
                - is_licensed
                - vector_type
                - content_type
                - nb_results
        - name: x-api-key
          in: header
          required: true
          description: Adobe Stock API key (client ID)
          schema:
            type: string
      responses:
        '200':
          description: Search results returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key or bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /Media/1/Search/Files/{content_id}:
    get:
      operationId: getStockFileMetadata
      summary: Adobe Creative Suite Get stock file metadata
      description: >-
        Retrieves detailed metadata for a specific stock file by its content ID.
        Returns full file information including title, creator, dimensions, keywords,
        licensing status, and thumbnail URLs.
      tags:
        - Search
      parameters:
        - name: content_id
          in: path
          required: true
          description: Adobe Stock unique content identifier
          schema:
            type: integer
            example: 123456789
        - name: locale
          in: query
          description: BCP 47 locale for localized response data
          schema:
            type: string
            example: en_US
        - name: result_columns[]
          in: query
          description: Fields to include in the response
          schema:
            type: array
            items:
              type: string
        - name: x-api-key
          in: header
          required: true
          description: Adobe Stock API key (client ID)
          schema:
            type: string
      responses:
        '200':
          description: File metadata returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockFileResponse'
        '404':
          description: Stock file not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /Media/1/Search/CategoryTree:
    get:
      operationId: getCategoryTree
      summary: Adobe Creative Suite Get category tree
      description: >-
        Retrieves the hierarchical category tree used to organize Adobe Stock content.
        Categories can be used as filters in search queries to narrow results to
        specific content categories such as Animals, Business, or Technology.
      tags:
        - Search
      parameters:
        - name: locale
          in: query
          description: BCP 47 locale for localized category names
          schema:
            type: string
            example: en_US
        - name: category_id
          in: query
          description: Root category ID to retrieve subtree from (omit for full tree)
          schema:
            type: integer
        - name: x-api-key
          in: header
          required: true
          description: Adobe Stock API key (client ID)
          schema:
            type: string
      responses:
        '200':
          description: Category tree returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
        '401':
          description: Unauthorized - invalid or missing credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /Member/1/Profile:
    get:
      operationId: getMemberProfile
      summary: Adobe Creative Suite Get member profile
      description: >-
        Retrieves the profile of the authenticated Adobe Stock member including
        account details, quota information, and available license credits. Requires
        a valid OAuth 2.0 user token.
      tags:
        - Member
      parameters:
        - name: locale
          in: query
          description: BCP 47 locale for localized profile data
          schema:
            type: string
            example: en_US
        - name: x-api-key
          in: header
          required: true
          description: Adobe Stock API key (client ID)
          schema:
            type: string
      responses:
        '200':
          description: Member profile returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberProfile'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /Member/1/License:
    get:
      operationId: getLicenseHistory
      summary: Adobe Creative Suite Get license history
      description: >-
        Retrieves the license history for the authenticated member, showing previously
        licensed stock assets. Results can be filtered by date range or asset type
        and are returned in reverse chronological order.
      tags:
        - License
      parameters:
        - name: locale
          in: query
          description: BCP 47 locale for localized response data
          schema:
            type: string
            example: en_US
        - name: search_parameters[limit]
          in: query
          description: Maximum number of results to return
          schema:
            type: integer
            default: 32
            maximum: 100
        - name: search_parameters[offset]
          in: query
          description: Number of results to skip for pagination
          schema:
            type: integer
            default: 0
        - name: result_columns[]
          in: query
          description: Fields to include in the license history response
          schema:
            type: array
            items:
              type: string
        - name: x-api-key
          in: header
          required: true
          description: Adobe Stock API key (client ID)
          schema:
            type: string
      responses:
        '200':
          description: License history returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseHistoryResult'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /Member/1/LicenseImage:
    post:
      operationId: licenseImage
      summary: Adobe Creative Suite License a stock image
      description: >-
        Licenses a stock photo for use in a project. The request specifies the content
        ID, license type, and optional purchase reference information. On success,
        returns a download URL for the licensed full-resolution image.
      tags:
        - License
      parameters:
        - name: x-api-key
          in: header
          required: true
          description: Adobe Stock API key (client ID)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseRequest'
      responses:
        '200':
          description: Image licensed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseResponse'
        '400':
          description: Bad request - invalid content ID or license type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient quota or license credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /Member/1/LicenseVectorOrIllustration:
    post:
      operationId: licenseVector
      summary: Adobe Creative Suite License a vector or illustration
      description: >-
        Licenses a vector or illustration stock file for use in a project. Returns a
        download URL for the licensed file in the original vector format (AI, EPS, or SVG)
        where available.
      tags:
        - License
      parameters:
        - name: x-api-key
          in: header
          required: true
          description: Adobe Stock API key (client ID)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseRequest'
      responses:
        '200':
          description: Vector or illustration licensed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseResponse'
        '400':
          description: Bad request - invalid content ID or license type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /Member/1/LicenseVideo:
    post:
      operationId: licenseVideo
      summary: Adobe Creative Suite License a stock video
      description: >-
        Licenses a stock video clip for use in a project. Returns a download URL for
        the licensed video at the requested resolution. Video licenses consume credits
        from the member's stock subscription or account balance.
      tags:
        - License
      parameters:
        - name: x-api-key
          in: header
          required: true
          description: Adobe Stock API key (client ID)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseRequest'
      responses:
        '200':
          description: Video licensed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseResponse'
        '400':
          description: Bad request - invalid content ID or license type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /Member/1/LicenseStats:
    post:
      operationId: getLicenseStats
      summary: Adobe Creative Suite Get licensing stats
      description: >-
        Retrieves licensing statistics for the authenticated member including the
        number of assets licensed within a specified time period and a breakdown
        by content type.
      tags:
        - License
      parameters:
        - name: x-api-key
          in: header
          required: true
          description: Adobe Stock API key (client ID)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                locale:
                  type: string
                  description: BCP 47 locale for localized response data
                result_columns:
                  type: array
                  description: Fields to include in the stats response
                  items:
                    type: string
      responses:
        '200':
          description: Licensing stats returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseStatsResponse'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token from Adobe IMS (required for licensing operations)
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Adobe Stock API key (client ID) required for all operations
  schemas:
    StockFile:
      type: object
      description: Metadata for an Adobe Stock file
      properties:
        id:
          type: integer
          description: Unique Adobe Stock content identifier
          example: 123456789
        title:
          type: string
          description: Title of the stock file as provided by the contributor
          example: Beautiful mountain landscape at sunrise
        creator_name:
          type: string
          description: Display name of the file's creator/contributor
          example: PhotoContributor123
        creator_id:
          type: integer
          description: Unique identifier of the creator on Adobe Stock
          example: 987654
        country_name:
          type: string
          description: Country of origin of the creator
          example: United States
        width:
          type: integer
          description: Original width of the file in pixels
          example: 6000
        height:
          type: integer
          description: Original height of the file in pixels
          example: 4000
        media_type_id:
          type: integer
          description: >-
            Numeric identifier for the media type (1=photo, 2=illustration,
            3=vector, 4=video, 6=3D, 7=template)
          example: 1
        content_type:
          type: string
          description: MIME type of the stock file
          example: image/jpeg
        keywords:
          type: array
          description: List of keywords describing the file content
          items:
            type: object
            properties:
              name:
                type: string
                description: Keyword text
          example:
            - name: mountain
            - name: landscape
            - name: sunrise
        comp_url:
          type: string
          description: URL of the watermarked comp image for preview purposes
          example: https://t3.ftcdn.net/jpg/01/23/45/67/240_F_123456789_abc.jpg
        thumbnail_url:
          type: string
          description: URL of the thumbnail image
          example: https://t3.ftcdn.net/jpg/01/23/45/67/160_F_123456789_abc.jpg
        thumbnail_width:
          type: integer
          description: Width of the thumbnail image in pixels
          example: 160
        thumbnail_height:
          type: integer
          description: Height of the thumbnail image in pixels
          example: 107
        is_licensed:
          type: string
          description: Licensing status of the file for the authenticated user
          enum:
            - Standard
            - Extended
            - Video_HD
            - Video_4K
            - ''
          example: ''
        vector_type:
          type: string
          description: Vector file subtype (svg or zip) if applicable
          enum:
            - svg
            - zip
            - ''
        category:
          $ref: '#/components/schemas/Category'
        nb_results:
          type: integer
          description: Total number of results matching the search query (on first item only)
          example: 4521
    Category:
      type: object
      description: A stock content category
      properties:
        id:
          type: integer
          description: Unique category identifier
          example: 1043
        name:
          type: string
          description: Localized category name
          example: Nature
        link:
          type: string
          description: URL to browse this category on the Adobe Stock website
        children:
          type: array
          description: Child subcategories (present in category tree responses)
          items:
            $ref: '#/components/schemas/Category'
    SearchResult:
      type: object
      description: Paginated search results from the Adobe Stock library
      properties:
        nb_results:
          type: integer
          description: Total number of files matching the search query
          example: 4521
        files:
          type: array
          description: List of matching stock files
          items:
            $ref: '#/components/schemas/StockFile'
    StockFileResponse:
      type: object
      description: Response wrapper for a single stock file metadata request
      properties:
        files:
          type: array
          description: Array containing the requested file (always contains one item)
          items:
            $ref: '#/components/schemas/StockFile'
    MemberProfile:
      type: object
      description: Adobe Stock member profile and account details
      properties:
        stock_user:
          type: object
          description: Core user account information
          properties:
            nb_downloads:
              type: integer
              description: Total number of downloads by this member
            nb_standard_downloads:
              type: integer
              description: Number of standard license downloads
            nb_standard_downloads_remaining:
              type: integer
              description: Remaining standard download quota
            nb_standard_downloads_limit:
              type: integer
              description: Total standard download limit for the current period
            purchase_options:
              type: object
              description: Available purchase and licensing options for the member
    LicenseReference:
      type: object
      description: Optional purchase reference metadata for a license transaction
      properties:
        id:
          type: integer
          description: Reference ID provided by the API caller for tracking
          example: 1001
        value:
          type: string
          description: Reference value such as a project name or purchase order number
          example: Project Alpha
    LicenseRequest:
      type: object
      description: Request body for licensing a stock asset
      required:
        - content_id
        - license
      properties:
        content_id:
          type: integer
          description: Adobe Stock content ID of the asset to license
          example: 123456789
        license:
          type: string
          description: License type to apply
          enum:
            - Standard
            - Extended
            - Video_HD
            - Video_4K
          example: Standard
        locale:
          type: string
          description: BCP 47 locale for localized response data
          example: en_US
        purchase_params:
          type: object
          description: Optional purchase parameters and reference metadata
          properties:
            references:
              type: array
              description: List of reference key-value pairs for tracking the license
              items:
                $ref: '#/components/schemas/LicenseReference'
    LicenseResponse:
      type: object
      description: Response returned after successfully licensing a stock asset
      properties:
        content_id:
          type: integer
          description: Content ID of the licensed asset
          example: 123456789
        purchase_details:
          type: object
          description: Details of the license purchase transaction
          properties:
            state:
              type: string
              description: State of the license purchase
              enum:
                - just_purchased
                - already_purchased
                - overage
            license:
              type: string
              description: License type applied
            nb_downloads:
              type: integer
              description: Number of times this asset has been downloaded by the member
        download_url:
          type: string
          description: URL to download the licensed full-resolution file
          example: https://stock.adobe.com/Rest/Libraries/Download/123456789/1
    LicenseHistoryResult:
      type: object
      description: Paginated license history for the authenticated member
      properties:
        nb_results:
          type: integer
          description: Total number of licensing events in the history
          example: 87
        files:
          type: array
          description: List of previously licensed stock files
          items:
            $ref: '#/components/schemas/StockFile'
    LicenseStatsResponse:
      type: object
      description: Licensing statistics summary for the authenticated member
      properties:
        nb_results:
          type: integer
          description: Total number of licensing events in the requested period
        stock_user:
          type: object
          description: Aggregated licensing statistics by content type
    ErrorResponse:
      type: object
      description: Standard error response
      properties:
        code:
          type: integer
          description: Numeric error code
        message:
          type: string
          description: Human-readable error description
