openapi: 3.1.0
info:
  title: Adobe Creative Suite Adobe Firefly Accessibility Document Generation API
  description: The Adobe Firefly API provides access to Adobe's generative AI capabilities for creating and editing images, vectors, and video from natural language prompts. Built on Adobe's Firefly family of creative generative models, which are trained on licensed and public domain content. Supports text-to-image generation, generative fill, generative expand, generating similar images, object compositing, and video generation. All generation operations are asynchronous.
  version: 3.0.0
  termsOfService: https://www.adobe.com/legal/terms.html
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/support/
  license:
    name: Adobe Developer Terms
    url: https://www.adobe.com/legal/developer-terms.html
servers:
- url: https://firefly-api.adobe.io/v3
  description: Adobe Firefly API v3 production server
security:
- bearerAuth: []
tags:
- name: Document Generation
  description: Generate documents from templates and data
paths:
  /operation/documentgeneration:
    post:
      operationId: generateDocument
      summary: Adobe Creative Suite Generate Document from Template
      description: Generates a PDF or Word document by merging JSON data into a Word document template. Template tags in the document are replaced with corresponding data values. Supports tables, lists, conditional sections, and images in templates.
      tags:
      - Document Generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentGenerationRequest'
      responses:
        '201':
          description: Document generation operation accepted
          headers:
            Location:
              description: URL to poll for operation status
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSubmitted'
        '400':
          description: Bad request - invalid template or data parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    OperationSubmitted:
      type: object
      description: Response returned when an operation has been accepted
      properties:
        jobID:
          type: string
          description: Unique identifier for the submitted operation job
          example: urn:aaid:AS:UE1:operation:abc123
    DocumentGenerationRequest:
      type: object
      description: Request body for generating a document from a template
      required:
      - assetID
      - outputFormat
      - jsonDataForMerge
      properties:
        assetID:
          type: string
          description: Asset ID of the Word document template
          example: urn:aaid:AS:UE1:23c30ee0-2e4d-46d6-87f2-087832fca718
        outputFormat:
          type: string
          description: Output format of the generated document
          enum:
          - pdf
          - docx
          example: pdf
        jsonDataForMerge:
          type: object
          description: JSON data object whose keys map to template tags in the document
          additionalProperties: true
          example:
            customerName: John Doe
            invoiceDate: 2026-03-02
            totalAmount: 1500.0
        notTaggedAdds:
          type: boolean
          description: Whether to include non-tagged content as plain text additions
          default: false
          example: true
    ErrorResponse:
      type: object
      description: Standard error response
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: example_value
        message:
          type: string
          description: Human-readable error message
          example: example_value
        requestId:
          type: string
          description: Unique identifier for the failed request
          example: asset_abc123
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained from Adobe IMS
